body {
    font-family: sans-serif;
}
  
.wrapper {
    position: relative;
    width: 400px;
    height: 400px;
}

.wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#webgl {
    z-index: 1;
    opacity: 0.2;
}

#canvasOver {
    z-index: 0;
}

.dispInline {
    display: inline-block;
}

#continuousBlock {
    padding: 0 2px 0;
    border: 2px solid gray;
}